@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:300');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
    background-color: #E1F1F0;    
    overflow-y:scroll;
}
#Warstwa_1 {
    width: 156px;      
}

.mainheader{
    font-family: 'Russo One', sans-serif;
    font-size: 25px;           
    padding: 10px;
    z-index: 5;
    text-align: center;
    background-color: #E1F1F0;    
    color:#F5AD45;
    
}
.mainfooter {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    min-height: 50px;    
    background-color: #222151;    
    color: #F5AD45;
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;    
    font-weight: bold;
    padding: 10px;
    z-index: 5;
}
.batterycontainer{
    margin-top: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;    
    text-align: center;
    padding-bottom: 10px;
}
.lastlogcontainer{
    background-color: #E1F1F0;
    color: #222151;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.lastlogheader{
    font-family: 'Abel', sans-serif;
    font-size: 18px;    
}
.lastlog{
    font-family: 'Abel', sans-serif;
    font-size: 18px;    
}
.telemetrycontainer{
    margin: 15px;    
    padding-top: 10px;
    text-align: center;    
   
}
.telemetryvalue{
    width: 160px;
    max-width: 200px;
    height: 120px !important;       
}
.telemetryholder{
    width: 100%;
    height: 100%;
    margin: 5px;    
    background-color: #222151;
    box-shadow: 5px 5px 20px black;     
}
.telemetryheader{
    text-align: center;
    margin-top: 5px;
    font-family: 'Abel', sans-serif;
    font-size: 16px;   
    font-weight: bold;
    padding-bottom: 10px;    
    color:#F5AD45;
}
.telemetryUnitvalue{

    text-align: center;
    margin-top: 5px;
    font-family: 'Abel', sans-serif;
    font-size: 16px;   
    font-weight: normal;
    padding-bottom: 10px;    
    color:#F5AD45;
}
.telemetryvalue{
    text-align: center;
    margin-top: 5px;
    font-family: 'Abel', sans-serif;
    font-size: 32px;   
    font-weight: bold;
    width: 100%;
    color:white;    
}

.paramHeader {
    font-family: 'Russo One', sans-serif;
    margin-top: 10px;
    font-size: 15px;           
    padding: 2px;
    z-index: 5;
    text-align: center;
    background-color: #E1F1F0;    
    color:#222151;
}
.plotdivcontainer{
    margin-top: 20px;
}
.homeicon {
    color: white;
}
.settingscontainer{
    max-width: 300px;
}
.spintext{
    font-family: 'Russo One', sans-serif;
    font-size: 10px;           
    margin-top: 5px;
}
.valContainer{
    width: 100% !important;    
}
.stationidcontainer {   
    font-family: 'Abel', sans-serif;
    font-size: 16px;   
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#sp_statid{    
    max-width: 140px;
}
.modalheader{
    font-family: 'Abel', sans-serif;
    font-size: 24px;           
    padding: 10px;
    z-index: 5;
    text-align: center;
    background-color: #222151;    
    color:white;    
}
.modaldesc{
    font-size: 16px;           
    padding: 2px;
    z-index: 5;    
    background-color: #222151;
     color: #F5AD45;
     text-align: justify;
    
}
.collapsible-header{
    background-color: #222151!important;
    color: #F5AD45;
}
@media only screen and (min-device-width: 640px) {
    .stationinfocontainer{
        transform: translate(-15px,0px);
    }
}

.mediaheader{
    font-family: 'Abel', sans-serif;
    font-size: 18px;    
    margin-bottom: 5px;
    text-align: center;
}